.base-container {
  width: 30vw;
  height: 70vh;
  background-color: rgb(14, 60, 102);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  position: absolute;

  .dark {
    width: 25%;
    height: 70%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .input {
        margin: 10px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 4px 6px rgb(184, 122, 7);
        &:hover {
          font-size: 1rem;
          box-shadow: 0px 0px 4px 6px rgb(77, 52, 6);
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }
  }
  .header {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(231, 196, 119);
  }
  .footer {
    margin-top: 50px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn {
      border-radius: 10px;
      height: 50%;
      width: 40%;
      font-weight: bold;
      background-color: burlywood;
      font-size: 1rem;
      // &:hover {
      //   background-color: rgb(223, 198, 56);
      //   box-shadow: 0px 0px 4px 6px orange;
      //   cursor: pointer;
      // }
    }
  }
  .switch-register {
    background-color: gold;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    margin-left: 30vw;
    width: 1.7vw;
    height: 70vh;
    transition: 1s;
    p {
      transform: rotate(-90deg);
      margin-top: 270px;
      font-weight: bold;
      font-size: 1.5rem;
      width: 10px;
      margin-left: 5px;
      color: rgb(18, 76, 129);
    }
    &:hover {
      transition: width 1s;
      width: 8vw;
      height: 70vh;
      cursor: pointer;
      p {
        transform: rotate(-90deg);
        margin-top: 290px;
        font-weight: bold;
        font-size: 3rem;
        width: 10px;
        margin-left: 50px;
        transition: 2s;
      }
    }
  }
  .checkBox {
    color: gold;
    margin-bottom: 20vh;
  }
  .fa-arrow-circle-right:before {
    width: 100px;
    height: 50px;
    font-size: 2rem;
    color: gold;
  }
}
